/* #region ACTION BAR */
#mail-move {
    float: right;
    min-width: 150px;
    line-height: 18px;
    margin: 5px 4px 0px 1px;
    padding: 9px 0px 0px 13px;
    background: transparent;
    color: var(--color-text-action);
    border: none;
    outline: none;
    border-radius: 0px;
    display: none;
}
#mail-move .menu .item {
    min-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#mail-move .menu .item span {
    min-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#mail-move.ui.selection.dropdown>.dropdown.icon {
    top: 10px;
    color: var(--color-text-action);
}
#mail-move.ui.selection.dropdown .item i.icon {
    color: var(--color-primary);
}
/* #endregion */
/* #region FORM ELEMENTS */
#mail-add-folder {
    outline: 0;
}
#dragSelection {
    position: absolute;
    z-index: 99;
    display: none;
    border: 1px solid var(--color-primary);
    background-color: rgba(28,132,195,0.3);
}
.msg-hover {
    display: none;
    position: absolute;
    opacity: 0.6;
    z-index: 200;
    color: var(--color-primary);
}
.ui.dimmer.deleteDimmer .ui.loader:after {
    border-color: var(--color-red) transparent transparent;
}
.ui.dimmer.spamDimmer .ui.loader:after {
    border-color: #F2711C transparent transparent;
}
.mail-loader {
    text-align: center;
    display: none;
    height: 340px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 100;
}
.mail-loader > div {
    border-radius: 5px;
}
#mail-page-container {
    display: none;
    margin: 10px 0px;
}
#mail-page-label {
    margin-right: 6px;
}
/* #endregion */
/* #region LAYOUT */
.ui-mail {
    width: 100%;
    margin: 0;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;

    display: block;
    clear: both;
}
.ui-mail-list {
    display: block;
    /* position: absolute; */
    position: relative;
    width: 300px;
    padding-bottom: 0;
    padding-left: 0;
    height: 512px;
    vertical-align: top;
    overflow-y: auto;
}
.ui-mail-content {
    display: block;
    top: 20px;
    left: 320px;
    width: calc(100% - 350px);
    position: absolute;
    margin-left: 10px;
}
/* #endregion */
/* #region LIST: LAYOUT */
.mail-grid {
    width: 280px;
    border: 1px solid var(--color-table-border);
    border-radius: 4px;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: none;
    text-align: left;
}
.mail-grid thead {
}
.mail-grid tbody {
	max-height: 496px;
	overflow: auto;
}
/* #endregion */
/* #region LIST: TABLE HEADERS */
.mail-grid th {
    font-weight: 700;
    background: var(--color-table-header-bg);
    color: var(--color-table-header-text);

    border-left: 1px solid var(--color-table-border);
    border-bottom: 1px solid var(--color-table-border);

    cursor: auto;
    padding: 0px 10px;
}
.mail-grid th:first-child {
    border-radius: 4px 0 0;
    border-left: none;
}
.mail-grid th:last-child {
    border-radius: 0 4px 0 0;
}
.mail-grid th.col-head-check {
    max-width: 40px;
    text-align: center;
}
.mail-grid th.col-head-check .ui.checkbox {
    vertical-align: middle;
}
.mail-grid th.col-head-message {
}
.mail-grid th.col-head-date {
}
/* #endregion */
/* #region LIST: TABLE ROWS */
.mail-grid tr {
    line-height: 40px;
}
.mail-grid tr:last-child td  {
    border-bottom: none;
}
.mail-grid tr:hover td {
    background: var(--color-table-row-hover-bg);
}
.mail-grid td {
    border-left: 1px solid var(--color-table-border);
    border-bottom: 1px solid var(--color-table-border);
}
.mail-grid td:first-child {
    border-left: none;
}
/* =============================== */
.mail-grid td.col-check {
    text-align: center;
    max-width: 40px;
}
.mail-grid .col-check > div {
    vertical-align: middle;
}
/* =============================== */
.mail-grid .col-link {
}
.mail-grid .col-link a:link,
.mail-grid .col-link a:visited {
    display: block;
    margin: 0px;
    padding: 10px;
    z-index: 90;
}
.mail-grid .col-link p {
    color: var(--color-h1);
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 145px;
    white-space: nowrap;
}
.mail-grid .col-link span {
    color: var(--color-primary);
    display: block;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 145px;
    white-space: nowrap;
}
.new .mail-from,
.new .mail-subject {
    font-weight: bold;
}
/* =============================== */
.mail-grid td.col-data {
    padding: 10px 10px;
}
.mail-grid td.col-data p {
    margin: 0px;
    padding: 0px;
    line-height: 20px;
    font-size: 12px;
}
/* #endregion */
/* #region LIST: TABLE SORTER */
.lead-actionlog thead tr .headerNone {
    background-image: none;
    background-repeat: no-repeat;
    background-position: center right;
    cursor: auto;
}
table.tablesorter tbody td {
    color: var(--color-table-row-text);
    background-color: var(--color-table-row-bg);
    vertical-align: top;
}
table.tablesorter tbody tr.odd td {
    background-color:var(--color-table-row-odd-bg);
}
/* #endregion */
/* #region LIST: NO CONTENT */
.no-mail {
    /*display: block;*/
    z-index: 50;
    top: 0px;
    /* top: 42px; */
    position: absolute;
    display: none;
    clear: both;
    height: 180px;
    width: 100%;
    /* width: 93%; */
    /* border-width: 1px; */
    /* border-color: var(--color-data-border); */
    /* border-style: solid; */
    /* border-radius: 5px; */

    background: var(--color-data-bg);
    margin: 0px;
    padding: 0px;
}
.no-mail p {
    color: var(--color-data-text);
    font-size: 16px;
    text-align: center;
    margin: 70px 0px 0px;
}
.no-mail .ui.dimmer {
    margin: 0px;
    /* height: 60%; */
}
/* #endregion */
/* #region CONTENT - HEADER DETAILS */
.ui-mail-content > .header {
    display: none;
    border: 1px solid var(--color-table-border);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: var(--color-table-header-bg);
    color: var(--color-table-header-text);
    padding: 10px;
}
.ui-mail-content > .header h1 {
    margin: 0px;
    padding: 0px;
    line-height: 30px;
}
.ui-mail-content > .header a.mc-from,
.ui-mail-content > .header p {
    margin: 0px;
    padding: 0px;
    line-height: 24px;
    /* display: inline-block; */
    display: inline;
}
.ui-mail-content > .header .icons {
    margin-left: 3px;
}
.mc-subject {
    font-size: 18px;
}
.mc-from-line, .mc-timestamp-line {
    white-space: nowrap;
    overflow: hidden;
    /* max-width: 50%; */
    text-overflow: ellipsis;
}
.mc-from {
    font-size: 14px;
    /* color: #4183C4; */
    color: var(--color-primary);
    outline: none;
}
.mc-timestamp {
    font-size: 12px;
    color: var(--color-h2);
}
#status-tags {
    margin: 6px 0px;
    display: none;
}
#status-tags .ui.label {
    font-weight: 700;
}
#status-tags .ui.green.label span {
    font-weight: 300;
}
.opened-notice {
    display: none;
}
.opened-notice i.icon {
    color: var(--color-green);
}
.read-attachments .modal-write-attach {
    display: inline-block;
    margin-right: 30px;
}
/* #endregion */
/* #region CONTENT - HEADER TOOLBAR */
.ui-mail-content .mc-toolbar {
    max-width: 60%; 
    float: right;
    text-align: right;
}
.ui-mail-content .mc-toolbar li {
    margin: 0px 0px 10px 12px;
}
.ui-mail-content > .header .btn {
    display: inline-block;
    margin: 0px 0px 0px 4px;
}
#mc-reply i.icon {
    color: #008000;
}
#mc-reply-all i.icon {
    color: #008000;
}
#mc-forward i.icon {
    color: #800080;
}
#mc-reply:hover i.icon,
#mc-reply-all:hover i.icon,
#mc-forward:hover i.icon  {
    color: var(--color-link-hover);
}
#mc-move {
    display: inline-block;
    min-width: 130px;
    line-height: 24px;
    margin: 0px 0px 0px 8px;
    min-height: 0px;
    padding: 2px 0px 2px 13px;
}
#mc-move .menu .item {
    min-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#mc-move .menu .item span {
    min-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#mc-move.ui.selection.dropdown>.dropdown.icon {
    top: 7px;
}
#mc-move.ui.selection.dropdown .item i.icon {
    color: var(--color-primary);
}
#mc-stats {
    display: none;
}
#mc-edit {
    display: none;
}
/* #endregion */
/* #region CONTENT - BODY */
.ui-mail-content > .message {
    /*display: block;*/
    display: none;
    border-bottom: 1px solid var(--color-message-border);
    border-left: 1px solid var(--color-message-border);
    border-right: 1px solid var(--color-message-border);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0px;
    background-color: #FFF;
    overflow: auto;
    height: 439px;
}
.ui-mail-content > .message .content {
    padding: 10px;
}
/* #endregion */
/* #region CONTENT - NO CONTENT */
.no-mail-selected {
    width: 100%;
    margin: 170px auto 0px;
    text-align: center;
    display: none;
}
.no-mail-selected i {
    display: block;
    margin: 0px auto;
    color: var(--color-primary);
    font-size: 72px;
    font-weight: 300;
    opacity: .7;
}
.no-mail-selected p {
    font-size: 14px;
    color: var(--color-data-text);
}
/* #endregion */
/* #region STATS TABLE */
#modal-stats h1 {
    font-size: 18px;
}
.stats-table {
    border-radius: 5px;
}
.stats-table:first-of-type {
    margin: 0px 0px 20px;
}
.stats-table tr {
    display: none;
}
.stats-table td:first-child {
    background-color: var(--color-table-header-bg);
    color: var(--color-table-header-text);
}
.stats-table td {
    margin: 0px;
    padding: 10px;
    background-color: var(--color-table-row-bg);
    color: var(--color-table-row-text);
    border: 1px solid var(--color-table-border);
}
/* #endregion */
/* #region RESPONSIVE CSS */
@media only screen and (min-height: 850px) and (max-height: 1024px) {
    .ui-mail-list {
        height: 721px;
    }
    .ui-mail-content > .message {
        height: 674px;
    }
}
@media only screen and (min-height: 750px) and (max-height: 850px) {
    .ui-mail-list {
        height: 621px;
    }
    .ui-mail-content > .message {
        height: 564px;
    }
}
@media only screen and (min-height: 0px) and (max-height: 600px) {
    .mail-loader {
        height: 170px;
    }
    .no-mail-selected {
        margin: 65px auto 0px;
    }
}
@media only screen and (max-width: 1200px) {
    #mail-move {
        display: none !important;
    }
    #mc-move {
        display: block;
        margin: 0px 0px 8px 8px;
    }
    /* for mc buttons */
    .ui-mail-content > .header { 
        min-height: 128px;
    }
}

@media only screen and (max-width: 1150px) {
    .ui-mail-content > .header .btn {
        padding: 0.78571429em 0.78571429em 0.78571429em;
    }
    .ui-mail-content .header .btn span {
        display: none;
    }
    .ui-mail-content .header .btn i.icon {
        opacity: .9;
        margin: 0;
        vertical-align: top;
    }
}
@media only screen and (max-width: 950px) {
    .ui-mail {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
        clear: both;
    }
    .ui-mail-list {
        width: 100%;
        display: block;
        position: relative;
        vertical-align: top;
        height: 216px;
        overflow: auto;
    }
    .no-mail {
        width: 100%;
    }
    .ui-mail-content {
        width: 100%;
        display: block;
        position: relative;
        left: 0;
        margin-left: 0px;
        vertical-align: top;
        top: 10px;
    }
    .mail-grid {
        width: 100%;
    }
    .mail-grid tbody {
        height: 165px;
    }
    .mail-grid th.col-head-date {
        padding: 0px 25px 0px 10px;
    }
    .mail-grid .col-check {
        padding: 0px 12px;
    }
    .mail-grid .col-link span {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 400px;
        white-space: nowrap;
        word-wrap: break-word;
    }
    .mail-grid .col-link p {
        text-overflow: initial;
        overflow: auto;
        width: 400px;

        white-space: normal;
        word-wrap: normal;
        font-size: 12px;
    }
    .mail-grid .col-link a:link,
    .mail-grid .col-link a:visited {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 400px;
        white-space: nowrap;
        max-height: 50px;
    }

    #mc-move {
        min-width: 90px;
    }    
}

@media only screen and (max-width: 600px) {
    #mail-move {
        /*display: inline-block;*/
        float: none;
        min-width: 80px;
        margin: 0px;
    }
    #mail-move .item i.icon {
        display: none;
    }

    .ui-mail-list {
        height: 160px;
    }    
    .mail-grid th.col-head-check {
    }
    .mail-grid th.col-head-message {
    }
    .mail-grid th.col-head-date {
        padding: 0px 25px 0px 10px;
    }
    .mail-grid tbody {
        height: 100px;
    }
    .mail-grid .col-check {
        padding: 0px 10px;
    }
    .mail-grid .col-link a:link,
    .mail-grid .col-link a:visited,
    .mail-grid .col-link p,
    .mail-grid .col-link span {
        width: 200px;
    }
}

@media only screen and (max-width: 550px) {
    #mail-spam, #mail-new, #mail-sync {
        display: none !important;
    }
}
@media only screen and (max-width: 400px) {
    #ui-counters {
        display: none;
    }
    #mail-delete {
        display: none !important;
    }
    .mail-grid th.col-head-check {
        display: none;
    }
    .mail-grid td.col-check {
        display: none;
    }
    .mail-grid th.col-head-message {
        border-left: none;
    }
    .mail-grid td.col-link {
        border-left: none;
    }
    .mail-grid .col-link a:link,
    .mail-grid .col-link a:visited,
    .mail-grid .col-link p,
    .mail-grid .col-link span {
        width: 100px;
    }
}

@media only screen and (max-width: 344px) {
    /* #mc-delete {
      margin-top: 10px;
    } */
    .ui-mail-content > .header {
        /* min-height: 165px; */
    }
}
/* #endregion */