api/vendor/
files/node_modules/
files/*.bundle.js
files/bundle.js
files/*.worker.*
js/vendor/node_modules/
mail/vendor/
node_modules/
rsc/api/vendor/
#templates/

php_errors.log

#remove
#templates/thumbs/